
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<link href="~/Content/ProgressBar.css" rel="stylesheet" />
<div class="row">

    <div id="progressBarContainer">
        <div id="progressBar"></div>
    </div>

    <input type="button" id="start" value="Start" disabled="disabled" />
    <div id="result" style="display: none;"></div>

</div>
<script src="/signalr/js"></script>
<script src="~/Scripts/ProgressBar.js"></script>