
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<style>
    div {
        margin: 3px;
    }

    canvas {
        border: 2px solid #808080;
        cursor: default;
    }
</style>
<div>
    <div>
        <label for="color">Color: </label>
        <select id="color"></select>
    </div>
    <canvas id="canvas" width="300" height="300"></canvas>
    <div>
        <button id="clear">Clear canvas</button>
    </div>
</div>
<script src="/signalr/js"></script>
<script src="Scripts/DrawingBoard.js"></script>